 <img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Beta distributions on election data

_Authors: Joseph Nelson (DC)_

---

## Dataset

In this lab you will be looking at [election data taken from Andrew Gelman's book on Bayesian statistics](http://www.stat.columbia.edu/~gelman/arm/examples/election88/) (highly recommended!).

You are required to perform a bit of feature engineering.

The data contains polling information for George H.W. Bush as well as election information. 

The polling information indicates samples by state of who intends to vote for Bush or not. The voting information is a sample after the election asking who actually voted for bush or not.

### 1. Import and parse the data

There are two datasets:

    election88  :  this contains the election voting poll information
    pre_poll    :  this contains the pre-election voting poll information
    
Remove DC, AK, and HI from the election datasets.

In [1]:
import pandas as pd
import numpy as np

In [2]:
election88 = pd.read_csv('./datasets/election88.csv')

# A:

In [3]:
# Reading in the poll csv file
pre_poll = pd.read_csv('./datasets/polls.csv')

# A:

In [4]:
# A:

election88.head()

   Unnamed: 0  stnum  st  electionresult  samplesize    raking  _merge
0           1      1  AL            0.59         203  0.673067       3
1           2      2  AK            0.60           0       NaN       1
2           3      3  AZ            0.60         194  0.568980       3
3           4      4  AR            0.56         121  0.563672       3
4           5      5  CA            0.51        1493  0.531725       3

In [6]:
election88.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
Unnamed: 0        51 non-null int64
stnum             51 non-null int64
st                51 non-null object
electionresult    51 non-null float64
samplesize        51 non-null int64
raking            48 non-null float64
_merge            51 non-null int64
dtypes: float64(2), int64(4), object(1)
memory usage: 2.9+ KB

In [5]:
pre_poll.head()

,Unnamed: 0,org,year,survey,bush,state,edu,age,female,black,weight
0,1,cbsnyt,1,9152,1.0,7,2,2,1,0,1403
1,2,cbsnyt,1,9152,1.0,33,4,3,0,0,778
2,3,cbsnyt,1,9152,0.0,20,2,1,1,0,1564
3,4,cbsnyt,1,9152,1.0,31,3,2,1,0,1055
4,5,cbsnyt,1,9152,1.0,18,3,1,1,0,1213

### 2. With the poll data, compute the number of people who did and didn't intend to vote for Bush by state.

In [5]:
# A:

### 3. With the vote data, compute the number of people who did and didn't vote for Bush by state.

In [6]:
# A:

### 4. Merge the poll and vote data together by state

In [7]:
# A:

### 5. Write a function to plot Beta probability distributions based on poll and vote counts.

The distributions should be on the same chart.

In [8]:
from scipy.stats import beta
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('white')
%matplotlib inline

In [9]:
# A:

### 6. Select 4 states of your choice and plot the beta distributions.

In [10]:
# A:

### 7. [Bonus] Use bootstrapping to estimate the percent of the voting distribution greater than the polling distribution

Selecting random samples from a Beta distribution can be done with:

```python
from numpy.random import beta as random_beta
```

> **Hint**: You will want to calculate the percentage of random draws from the voting distribution that are greater than all of the draws from the poll distribution.

In [11]:
from numpy.random import beta as random_beta

In [12]:
# A: